# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.csproj]
indent_style = space
indent_size = 2

[*.cs]
dotnet_style_predefined_type_for_member_access = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = false:suggestion

csharp_prefer_braces = true:suggestion
csharp_using_directive_placement = inside_namespace:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_new_line_before_open_brace = all
